<IfModule pagespeed_module>
    ModPagespeed unplugged
</IfModule>

<Files "*.json">
    Order deny,allow
    Deny from all
</Files>

<Files "*.sqlite">
    Order deny,allow
    Deny from all
</Files>

<Files "*.sh">
    Order deny,allow
    Deny from all
</Files>

<Files "*.log">
    Order deny,allow
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ shortener.php?shorturl=$1 [QSA,L]
</IfModule>
